/* Resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

/* Utility classes */

/* White background color */
.bg-white {
  background-color: white;
}

/* Border radius */
/* All 10px */
.br-10 {
  border-radius: 10px;
}
/* Top 10px */
.brt-10 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* Bottom 10px */
.brb-10 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Generic tags */
body {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  background-color: #f6f8f9;
}
header {
  padding: 1% 2%;
}
main
{
  margin-bottom: 1%;
  padding: 3% 7% 1.5%;
}
h1 {
  display: inline;
}
details {
  padding: 1% 0;
}

summary{
  font-weight: bold;
}

ul {
  list-style-type: none;
}

/* Buttons */
button {
  padding: 1% 1.5%;
  border: 1px solid;
  border-radius: 10px;
  font-size: 18px;
}
/* Add task button */
.button-add-task {
  background-color: #1e90ff;
  color: white;
}
/* Add section button */
.button-add-section {
  background-color: transparent;
  color: #808080
}

/* Classes */
.container {
  margin: 3% auto 1%;
  max-width: 1200px;
}

/* Section with buttons */
.section-buttons {
  margin-bottom: 0.3%;
  padding: 1.5% 7% 1%;
}

/* Task */
.task {
  margin: 2% 0;
}
/* Task status */
/* General */
.task-status {
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 32px;
  text-align: center;
}
/* To do */
.task-status.task-to-do{
  color: red;
}
/* Done */
.task-status.task-done{
  color: green
}
/* Task text */
.task-text {
  padding: 0 1%;
}

/* Task categories */
/* General */
.task-category {
  padding: 0.8% 1.5%;
  border-radius: 15px;
  color: white;
  font-size: 15px;
}
/* Tasks with no category */
.task-category.category-none {
  background-color: black;
  display: none;
}
/* Editorial category */
.task-category.category-editorial {
  background-color: #45abea;
}
/* Q1 Goals category */
.task-category.category-q1-goals {
  background-color: #9c72e4;
}
/* Recruiting category */
.task-category.category-recruiting {
  background-color: #64c0a9;
}
/* Mobile category */
.task-category.category-mobile {
  background-color: #f29e33;
}
/* Website category */
.task-category.category-website {
  background-color: #d863a1;
}
/* Sales category */
.task-category.category-sales {
  background-color: #b0c926;
}

/* ID selectors */
/* Toboolist logo */
#logo {
  width: 4%;
}