/* Resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Utility classes */

/* Generic tags */

body {
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

header {
  padding: 1% 2%;
  background-color: white;
}

main
{
  margin-bottom: 1%;
  padding: 1% 7% 1.5%;
  border-radius: 1%;
  background-color: white;
}

h1 {
  display: inline;
  vertical-align: middle;
}

details {
  padding: 1% 0;
}

/* Buttons */

button {
  padding: 1% 1.5%;
  border: 1px solid;
  border-radius: 10px;
  font-size: 18px;
}

.button-add-task {
  background-color: #1e90ff;
  color: white;
}

.button-add-section {
  background-color: transparent;
  color: #808080
}

summary{
  font-weight: bold;
}

ul {
  list-style-type: none;
}

/* Classes */

.container {
  margin: 3% auto 1%;
  max-width: 1200px;
}

/* Task */
.task {
  margin: 2% 0;
}

/* Task status */

/* General */
.task-status {
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
}

/* To do */
.task-status.task-to-do{
  color: red;
}

/* Done */
.task-status.task-done{
  color: green
}

/* Task text */
.task-text {
  padding: 0 1%;
  vertical-align: middle;
}

/* Task categories */

/* General */
.task-category {
  padding: 0.8% 1.5%;
  border-radius: 15px;
  color: white;
  font-size: 15px;
  vertical-align: middle;
}

/* Specific */

/* No category */
.task-category.category-none {
  background-color: black;
  color: white;
  display: none;
}
/* Editorial */
.task-category.category-editorial {
  background-color: #45abea;
}

/* Q1 Goals */
.task-category.category-q1-goals {
  background-color: #9c72e4;
}

/* Recruiting */
.task-category.category-recruiting {
  background-color: #64c0a9;
}

/* Mobile */
.task-category.category-mobile {
  background-color: #f29e33;
}

/* Website */
.task-category.category-website {
  background-color: #d863a1;
}

/* Sales */
.task-category.category-sales {
  background-color: #b0c926;
}

/* ID selectors */

/* Toboolist logo */
#logo-toboolist {
  vertical-align: middle;
  width: 4%;
}

/* Section with buttons */
#section-buttons{
  background-color: white;
  margin-bottom: 0.1%;
  padding: 1.5% 7% 1%;
}